body {
    text-align: center;
}

.layout-element {
    background-color: gray;
    margin: 0.5rem;
}

.container {
    display: grid;
    grid-template-rows: 5rem 25rem 7.5rem;
}

.header {
    grid-column-start: 1;
    grid-column-end: -1;
}

.main-section {
    display: grid;
    grid-template-columns: 25% 75%;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: span 1;
}

.main-content {
    grid-column-start: 2;
}

.footer {
    grid-column-start: 1;
    grid-column-end: -1;
}